
@font-face {
	font-family: 'DIN Pro';
	src: url('./assets/fonts/DINPro.eot');
	src: local('./assets/fonts/DIN Pro'), local('./assets/fonts/DINPro'),
		url('./assets/fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/DINPro.woff') format('woff'),
		url('./assets/fonts/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('./assets/fonts/DINPro-Medium.eot');
	src: local('./assets/fonts/DIN Pro Medium'), local('./assets/fonts/DINPro-Medium'),
		url('./assets/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/DINPro-Medium.woff') format('woff'),
		url('./assets/fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('./assets/fonts/DINPro-Bold.eot');
	src: local('./assets/fonts/DIN Pro Bold'), local('./assets/fonts/DINPro-Bold'),
		url('./assets/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/DINPro-Bold.woff') format('woff'),
		url('./assets/fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('./assets/fonts/DINPro-Light.eot');
	src: local('./assets/fonts/DIN Pro Light'), local('./assets/fonts/DINPro-Light'),
		url('./assets/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/DINPro-Light.woff') format('woff'),
		url('./assets/fonts/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'DIN Pro', Arial, sans-serif;
}

body {
	margin: 0;
	background-image: url('./assets/svg/pattern.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.header {
  margin-bottom: 10px;
}

.header__logo {
	width: 240px;
	height: 80px;
	margin-top: -15px;
	margin-bottom: -5px;
}

.header__logo-img {
  display: block;
  width: 240px;
  height: 80px;
	overflow: hidden;
	transform: translateX(-17px);
  /*margin-bottom: 8px;*/
  /*background-color: forestgreen;*/
}

.header-description-text,
.calc-select__description {
  margin: 0;
  font-size: 15px;
  line-height: 1.1;
  text-align: left;
}

.main {
  margin-bottom: 15px;
}

.calc-select__wrap {
  margin-bottom: 20px;
}

.calc-select__heading {
  margin: 0;
  margin-bottom: 3px;
  font-size: 30px;
  line-height: 1;
}

.calc-select__description {
  margin-bottom: 15px;
}

.calc-select__btn {
  display: block;
  width: 280px;
  height: 45px;
  text-decoration: none;
  font-size: 20px;
  line-height: 45px;
  font-weight: bold;
  color: #fff;
  text-align: center;
	transition: background-color linear 0.1s;
}

.calc-select__btn--anion {
  background-color: rgb(62, 87, 179);
}

.calc-select__btn--anion:hover {
	background-color: rgb(53, 79, 177);
}

.calc-select__btn--anion:active {
	background-color: rgb(33, 62, 172);
}

.calc-select__btn--ferrum {
  background-color: rgb(83, 124,209);
}

.calc-select__btn--ferrum:hover {
  background-color: rgb(70, 115, 207);
}

.calc-select__btn--ferrum:active {
  background-color: rgb(45, 97, 204);
}

.footer {
  border-top: 2px solid rgba(110, 170, 247, 0.4);
  padding-top: 10px;
}

.footer__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.footer__email {
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.footer__email-link {
  color: rgb(0, 113, 255);
}

.footer__social-wrap {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 30px;
}

.footer__social-link {
	display: block;
  width: 28px;
  height: 28px;
  margin: 0 7.5px 0 7.5px;
  background-color: forestgreen;
  border-radius: 50%;
}

.footer__social-link--inst {
	background-image: url('./assets/svg/inst.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.footer__social-link--blg {
	background-image: url('./assets/svg/blg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.footer__social-link--twi {
	background-image: url('./assets/svg/twi.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media only screen and (min-width: 960px) {

  body {
    margin: 15px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 944px;
    margin: 0 auto;
  }

  .header {
    width: 70%;
    margin-bottom: 50px;
  }

	.header__logo {
		width: 300px;
    height: 80px;
		margin-bottom: 20px;
	}

  .header__logo-img {
		/*width: 100%;*/
		/*height: 100%;*/
    width: 300px;
    height: 80px;
		overflow: hidden;
		transform: translateX(-20px);
    /*margin-bottom: 20px;*/
  }

  .header-description-text,
  .calc-select__description {
    font-size: 30px;
    line-height: 1;
  }

  .main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 100px;
  }

  .calc-select__wrap {
    margin-bottom: 0;
  }

  .calc-select__wrap--anion {
    width: 360px;
    margin-right: 124px;
  }

  .calc-select__wrap--ferrum {
    width: 391px;
  }

  .calc-select__heading {
    margin-bottom: 8px;
    font-size: 40px;
  }

  .calc-select__description {
    margin-bottom: 30px;
  }

  .calc-select__btn {
    width: 300px;
    height: 55px;
    font-size: 30px;
    line-height: 55px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    border-top: 0;
  }

  .footer__description {
    margin: 0;
    /*margin-bottom: 20px;*/
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
  }

  .footer__email {
    margin-top: 0;
    font-size: 17px;
    line-height: 21px;
  }

  .footer__social-wrap {
    justify-content: flex-end;
  }

}
