* {
  box-sizing: border-box;
  font-family: AvenirNext, Arial, sans-serif;
}

html {
  width: 100%;
  background: #000000;
}

.container {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.container--header {
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header {
  width: 100%;
  min-height: 50px;
  background: #222222;
}

.header__logo-text {
  color: #ffffff;
  font-style: 35px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.header__link {
  color: #ffffff;
  font-style: 35px;
  text-decoration: none;
}

.header__link:hover {
  font-weight: bold;
  text-decoration:underline;
}

.header__link:active {
  color: red;
}

.header__link:visited {
  color: green;
}

.main {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('assets/back.jpg');
}

.container--main {
  justify-content: flex-end;
  padding: 20px;
}

.main__content {
  width: 300px;
}

.main__content-text {
  font-size: 33px;
  text-align: center;
  color: #ffffff;
}

.footer {
  width: 100%;
  background: #000000;
  min-height: 50px;
}

.container--footer {
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.footer__link {
  color: #ffffff;
  font-style: 35px;
  text-decoration: none;
}
