* {
  box-sizing: border-box;
  font-family: AvenirNext, Arial, sans-serif;
}

@media only screen and (max-width: 599px) {

  body {
    margin: 30px auto;
    font-family: AvenirNext, Arial, sans-serif;
  }

  .container {
    width: 240px;
    margin: 0 auto;
  }

  .header {
    margin-bottom: 10px;
  }

  .title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }

  .description {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 11px;
    line-height: 11px;
    font-weight: lighter;
  }

  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .select-wrap {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }

  .mineral-select {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
  }

  .main__input-area {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
  }

  .main__input-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-bottom: 7px;
  }

  .main__input-title,
  .main__output-title {
    /*width: 100%;*/
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    font-size: 10px;
    line-height: 14px;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .main__input-label {
    /*width: 45%;*/
    margin-right: 10px;
    font-size: 15px;
    line-height: 20px;
  }

  .main__input {
    width: 45%;
    height: 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    font-weight: regular;
    text-align: right;
    background-color: #ebebeb;
    outline: none;
  }

  .main__input:focus {
    background-color: #c0c0c0;
  }

  .main__input::-webkit-inner-spin-button {
    display: none;
  }

  .main__output-area {
    display: flex;
    flex-direction: column;
    width: 75px;
  }

  .main__output-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin-bottom: 4.6px;
  }

  .main__output-label {
    width: 35px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
  }

  .main__output {
    /*width: 38px;*/
    /*margin-left: 10px;*/
    font-size: 15px;
    line-height: 20px;
    font-weight: regular;
    text-align: right;
  }

  .main__buttons-area {
    width: 100%;
  }

  .button {
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    font-size: 15px;
    line-height: 35px;
    font-weight: bolder;
  }

  .button--calculate {
    background-color: #325ef6;
  }

  .button--calculate:disabled {
    opacity: 0.7;
  }

  .button--calculate:active {
    background-color: #214bde;
  }

  .button--clear {
    background-color: #f66532;
  }

  .button--clear:disabled {
    opacity: 0.7;
  }

  .button--clear:active {
    background-color: #df5321;
  }

  .button--toggle {
    background-color: forestgreen;
    margin: 0 0 30px;
  }

  .info {
    position: relative;
    width: 100%;
    height: 45px;
  }

  .info::before {
    content: 'i';
    position: absolute;
    top: 0;
    left: 45%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 2.5px;
    border-radius: 50%;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    background-color: orange;
  }
}

@media only screen and (min-width: 600px) {
  body {
    margin: 30px auto;
    font-family: AvenirNext, Arial, sans-serif;
  }

  .container {
    width: 500px;
    margin: 0 auto;
  }

  .header {
    margin-bottom: 25px;
  }

  .title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 31px;
    line-height: 1.3;
    font-weight: bold;
  }

  .description {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: lighter;
  }

  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .select-wrap {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
  }

  .mineral-select {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .main__input-area {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
  }

  .main__input-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 210px;
    margin-bottom: 14px;
  }

  .main__input-title,
  .main__output-title {
    /*width: 100%;*/
    display: block;
    margin-bottom: 30px;
    border-bottom: 2px solid #cccccc;
    font-size: 21px;
    line-height: 1.4;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .main__input-label {
    /*width: 45%;*/
    margin-right: 30px;
    font-size: 31px;
    line-height: 1.3;
    font-weight: bold;
  }

  .main__input {
    width: 45%;
    height: 33px;
    border: none;
    border-radius: 4px;
    font-size: 31px;
    line-height: 1.3;
    text-align: right;
    font-weight: regular;
    background-color: #ebebeb;
    outline: none;
  }

  .main__input:focus {
    background-color: #c0c0c0;
  }

  .main__input::-webkit-inner-spin-button {
    display: none;
  }

  .main__output-area {
    display: flex;
    flex-direction: column;
    width: 164px;
  }

  .main__output-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-bottom: 14px;
  }

  .main__output-label {
    display: block;
    width: 72px;
    font-size: 31px;
    line-height: 1.3;
    font-weight: bold;
  }

  .main__output {
    /*width: 63px;*/
    margin-left: 30px;
    font-size: 31px;
    line-height: 1.3;
    font-weight: regular;
    text-align: right;
  }

  .main__buttons-area {
    width: 100%;
  }

  .button {
    width: 100%;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    font-size: 30px;
    line-height: 2.3;
    font-weight: bolder;
  }

  .button--calculate {
    background-color: #325ef6;
  }

  .button--calculate:disabled {
    opacity: 0.7;
  }

  .button--calculate:active {
    background-color: #214bde;
  }

  .button--clear {
    background-color: #f66532;
  }

  .button--clear:disabled {
    opacity: 0.7;
  }

  .button--clear:active {
    background-color: #df5321;
  }

  .button--toggle {
    background-color: forestgreen;
    margin: 0 0 30px;
  }

  .info {
    position: relative;
    width: 100%;
    height: 45px;
  }

  .info::before {
    content: 'i';
    position: absolute;
    top: 0;
    left: 45%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 2.5px;
    border-radius: 50%;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    background-color: orange;
  }

}
