* {
  box-sizing: border-box;
  font-family: AvenirNext, Arial, sans-serif;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.header {
  margin-bottom: 10px;
}

.header__logo-img {
  display: block;
  width: 200px;
  height: 30px;
  margin-bottom: 8px;
  background-color: forestgreen;
}

.header-description-text,
.calc-select__description {
  margin: 0;
  font-size: 15px;
  line-height: 1.1;
  text-align: left;
}

.main {
  margin-bottom: 30px;
}

.calc-select__wrap {
  margin-bottom: 20px;
}

.calc-select__heading {
  margin: 0;
  margin-bottom: 3px;
  font-size: 30px;
  line-height: 1;
}

.calc-select__description {
  margin-bottom: 15px;
}

.calc-select__btn {
  display: block;
  width: 280px;
  height: 45px;
  text-decoration: none;
  font-size: 20px;
  line-height: 45px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.calc-select__btn--anion {
  background-color: rgb(62, 87, 179);
}

.calc-select__btn--ferrum {
  background-color: rgb(83, 124,209);
}

.footer {
  border-top: 2px solid rgba(110, 170, 247, 0.4);
  padding-top: 10px;
}

.footer__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.footer__email {
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.footer__email-link {
  color: rgb(0, 113, 255);
}

.footer__social-wrap {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 30px;
}

.footer__social-link {
  width: 28px;
  height: 28px;
  margin: 0 7.5px 0 7.5px;
  background-color: forestgreen;
  border-radius: 50%;
}

@media only screen and (min-width: 960px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 944px;
    margin: 0 auto;
  }

  .header {
    width: 70%;
    margin-bottom: 50px;
  }

  .header__logo-img {
    width: 256px;
    height: 35px;
    margin-bottom: 20px;
  }

  .header-description-text,
  .calc-select__description {
    font-size: 30px;
    line-height: 1;
  }

  .main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 100px;
  }

  .calc-select__wrap {
    margin-bottom: 0;
  }

  .calc-select__wrap--anion {
    width: 360px;
    margin-right: 124px;
  }

  .calc-select__wrap--ferrum {
    width: 391px;
  }

  .calc-select__heading {
    margin-bottom: 8px;
    font-size: 40px;
  }

  .calc-select__description {
    margin-bottom: 30px;
  }

  .calc-select__btn {
    width: 300px;
    height: 55px;
    font-size: 30px;
    line-height: 55px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    border-top: 0;
  }

  .footer__description {
    margin: 0;
    /*margin-bottom: 20px;*/
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
  }

  .footer__email {
    margin-top: 0;
    font-size: 17px;
    line-height: 21px;
  }

  .footer__social-wrap {
    justify-content: flex-end;
  }

}
